@import "src/assets/styles/variables.scss";

.app {
  background: radial-gradient(circle at top, #1f3658, $bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;

  &__header {
    width: 100%;
    border: 3px solid $gray;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;

    &__logo {
      height: 60px;
    }

    &__score {
      background-color: white;
      height: 100%;
      border-radius: 6px;
      padding: 5px 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;

      &__title {
        color: #4e578e;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 10px;
        font-weight: 900;
      }

      &__count {
        color: #58566b;
        font-size: 32px;
        font-weight: bold;
      }
    }
  }

  &__footer {
    &__rules {
      background-color: transparent;
      color: white;
      border: 1px solid white;
      border-radius: 9px;
      padding: 10px 40px;
      text-transform: uppercase;
      letter-spacing: 2px;
      cursor: pointer;
    }
  }
}

.rps {
  position: relative;

  &__triangle {
    height: 200px;
  }

  &__button {
    position: absolute;

    &--rock {
      bottom: -4%;
      right: 25%;
    }

    &--paper {
      top: -20%;
      left: -12%;
    }

    &--scissors {
      top: -20%;
      right: -12%;
    }
  }
}
