@import "src/assets/styles/variables.scss";

.app {
  background: radial-gradient(circle at top, #1f3658, $bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}
