@import "src/assets/styles/variables.scss";

.app {
  background: radial-gradient(circle at top, #1f3658, $bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 24px;
}

.rps {
  position: relative;

  &__triangle {
    height: 200px;
  }

  &__button {
    position: absolute;

    &--rock {
      bottom: -4%;
      right: 25%;
    }

    &--paper {
      top: -20%;
      left: -12%;
    }

    &--scissors {
      top: -20%;
      right: -12%;
    }
  }
}
